
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
section {
    border: 1px solid red;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}
